@{
    ViewBag.Title = "My Appointments";

}
<!--Page Header Start-->
<section class="page-header">
    <div class="page-header__bg" style="background-color:aquamarine;"></div>
    <!-- /.page-header__bg -->
    <div class="container">
        <h2>My Appointments</h2>
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="color-thm-gray">/</li>
            <li><span>My Appointments</span></li>
        </ul>
    </div>
</section>
<!--Page Header End-->
<!--Events Page Start-->
<section class="events-page">
    <div class="container">

        <div class="col-xl-6 col-lg-4">


            @if (Model.Count != 0)
            {
                foreach (var item in Model)
                {


                    <div class="feature-one__single feature-one__single-1">
                        <div class="feature-one__icon">
                            <span class="fas fa-calendar"></span>
                        </div>
                        <div class="feature-one__content clanedarevent">


                            <div>
                                <span class="fas fa-church"> &nbsp;&nbsp;&nbsp; @item.Title.Substring(item.Title.IndexOf(':') + 1)</span>
                                <br />
                                <span class="fas fa-clock">&nbsp; &nbsp;&nbsp;@item.FromDate - @item.ToDate </span>
                            </div>
                        </div>
                    </div>
                }

            }
            else
            {
                <div class="feature-one__single feature-one__single-1">
                    <div class="feature-one__icon">
                        <span class="fas fa-calendar"></span>
                    </div>
                    <div class="feature-one__content clanedarevent">

                        <div>
                            <span >  No Appointments</span>
                        </div>
                    </div>
                </div>

            }



        </div>
    </div>
</section>
<!--Events Page End-->
<style>
    .clanedarevent {
        color: black;
    }


    .feature-one__content h3 {
        font-size: 20px;
        color: black;
        line-height: 30px;
        font-weight: 900;
        margin-bottom: 17px;
    }
    /*    .feature-one__content {
        border: 1px solid #15c8a0;
    }*/
</style>