<!-- ko with: home -->
<div class="jumbotron">

    <div class="col-md-6 paypal">
        <form action="/Donations/Index">
            <input type="hidden" name="cmd" value="_s-xclick" />
            <input type="image" src="~/Content/Images/hand_heart_donate_icon.png" width="50" height="47" />
            <img alt="facebook" border="0" src="~/Content/Images/facebook.jpg" width="1" height="1" />
        </form>
    </div>
    <div class="col-md-6 facebook">
        <form action="https://www.facebook.com/groups/199485506854969/" method="post" target="_blank">
            <input type="hidden" name="cmd" value="_s-xclick" />
            <input type="image" src="~/Content/Images/Facebookround.svg" width="147" height="47" />
            <img alt="facebook" border="0" src="~/Content/Images/facebook.jpg" width="1" height="1" />
        </form>
    </div>
</div>


<div class="col-lg-12 ">
    @{ 
           var getimage = Convert.ToBase64String(Model.ImageData);
           var picture = string.Format("data:image/jpeg;base64,{0}", getimage);
           <img src="@Url.Content(picture)" style="width:100%;" />
     }
</div>




<!-- /ko -->
