<!-- ko with: home -->
<div class="jumbotron">

    <div class="col-md-6 paypal">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
            <input type="hidden" name="cmd" value="_s-xclick" />
            <input type="hidden" name="hosted_button_id" value="UJM2VHZULXGZA" />
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
        </form>
    </div>

    @*<div class="col-md-4 streaming">
            <form  asp-action="Index" asp-controller="OurPriest" method="post" target="_blank">
                <input type="hidden" name="cmd" value="_s-xclick" />
                <input type="image" src="~/Content/Images/stream.png" width="147" height="47" />
                <img alt="facebook" border="0" src="~/Content/Images/facebook.jpg" width="1" height="1" />
            </form>
        </div>*@

    <div class="col-md-6 facebook">
        <form action="https://www.facebook.com/groups/199485506854969/" method="post" target="_blank">
            <input type="hidden" name="cmd" value="_s-xclick" />
            <input type="image" src="~/Content/Images/facebook2.jpg" width="147" height="47" />
            <img alt="facebook" border="0" src="~/Content/Images/facebook.jpg" width="1" height="1" />
        </form>
    </div>
</div>
<div class="alert alert-info alert-dismissible" role="alert">

    <div class="alertext">
        <P class="signup">
            Sign up for the Holy Litrugy
        </P>
        <a href="https://signup.com/go/kpRoDbT" target="_blank"><img src="https://signup.com/imgs/icons/signup-choose-a-spot-btn.png" alt="Click to View Volunteer Opportunities on SignUp.com"></a>
    </div>

</div>
@*<div class="col-lg-12 embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/live_stream?channel=UCJ4JXq5FoWke8LZ6BnRsbrQ" frameborder="0" allowfullscreen></iframe>
    </div>*@
<div class="col-lg-12 ">
    <img class="homeimage" src="~/Content/Images/OurChurch.jpg" />
</div>




<!-- /ko -->
