
@{
    ViewBag.Title = "Index";
}

<div class="pagesetup">
    <h1 class="pageheaders">Sunday School Class Structure</h1>
    <div class="col-md-12">
        <p>
            "An educator should experience all the stages of Christian perfection in order to know in his subsequent activity how to behave and be able to notice the inclinations of his pupils, and then to influence them with patience, successfully, strongly, and fruitfully. Such educators should be a class of the purest, chosen by God, and saintly persons." [St. Theophan the Recluse on Responsibilities of an Educator, Turning the Heart to God, XXIII]
        </p>
        <h2>Mission</h2>
        <p>In our Sunday School Service, we have three goals that we, as servants, must adhere to in serving our children:</p>
        <ul>
            <li>
                To educate our children spiritually and morally in true Christian Education, in accordance with the teachings of the Lord Jesus Christ and the faith and traditions of the Coptic Orthodox Church
            </li>
            <li>
                To develop in our children the habit of attending church regularly, studying the bible, and participating conscientiously in the worship and mysteries of our church
            </li>
            <li>
                To cultivate in our children an Orthodox conscience and devotion to our principles, and to prepare them so that they become faithful and devoted dynamic members of our church, our community, and our country
            </li>
        </ul>
        <h2>Program Structure</h2>

        <p>Each Sunday School class follows a teaching structure which consists of a prayer, a hymn lesson and a Sunday School lesson—all driven from curricula posted on the Servants Portal.</p>
        <ul>
            <li> 
                <strong> Prayer Curriculum: </strong>Students will learn Agpeya prayers and psalms every year, so that by the time they finish high school they will have memorized a number of them.
            </li>
            <li>
               <strong>Hymns Curriculum:</strong> The curriculum has a defined list of hymns and a timeline for teaching the hymns throughout the year.
            </li>
            <li>
                <strong>  Lesson Curriculum:</strong> Lessons follow the Diocese’s curriculum (<a href="www.suscopts.org/ssc" target="_blank"><strong>www.suscopts.org/ssc</strong></a>).
            </li>
        </ul>
        <p class="sectionheaders"> Prayer Curriculum</p>
        <p>Memorization of church prayers is fundamental for the spiritual growth of every Orthodox Christian. Therefore, the Sunday School Service takes the initiative of teaching the Agpeya prayers from the very early stage to the last stage of Sunday School. Each class (grade level) is provided with a defined Prayer Curriculum. This curriculum remains the same every year for that grade level; it does not change. At the beginning of the Sunday School class, each class is to commence with the prayer until the children memorize the prayer, and then the class should move on to the next prayer on its curriculum.</p>
    </div>

        <div class="col-md-12">
            <table xmlns="http://www.w3.org/1999/xhtml" border="1" bordercolor="#888" cellspacing="0" style="border-collapse:collapse;border-color:rgb(136,136,136);border-width:1px" data-table-local-id="table-2">
                <tbody>
                    <tr>
                        <td style="width:148px;height:18px">
                            <b> Grade Level</b>
                        </td>
                        <td style="width:383px;height:18px">
                            <b> Prayer Curriculum</b>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:148px;height:18px"> Kindergarten</td>
                        <td style="width:383px;height:18px"> The Lord’s Prayer</td>
                    </tr>
                    <tr>
                        <td style="width:148px;height:18px"> 1st Grade</td>
                        <td style="width:383px;height:18px"> Thanksgiving Prayer</td>
                    </tr>
                    <tr>
                        <td style="width:148px;height:18px"> 2nd Grade</td>
                        <td style="width:383px;height:18px"> Introduction to the Orthodox Creed, Orthodox Creed</td>
                    </tr>
                    <tr>
                        <td style="width:148px;height:18px"> 3rd Grade</td>
                        <td style="width:383px;height:18px"> Psalm 50, Hail to you</td>
                    </tr>
                    <tr>
                        <td style="width:148px;height:18px"> 4th Grade</td>
                        <td style="width:383px;height:18px"> The Trisagion, Holy Holy Holy, Psalm 66</td>
                    </tr>
                    <tr>
                        <td style="width:148px;height:18px"> 5th Grade</td>
                        <td style="width:383px;height:18px"> The Gloria, Graciously accord O Lord (12th Hour)</td>
                    </tr>
                    <tr>
                        <td style="width:148px;height:18px"> Middle School</td>
                        <td style="width:383px;height:18px"> Conclusion of Every Hour, Psalm 6, Psalm 22, Psalm 62</td>
                    </tr>
                    <tr>
                        <td style="width:148px;height:18px"> High School</td>
                        <td style="width:383px;height:18px"> Psalm 142, Psalm 127, Psalm 140, Intro to Midnight Prayer</td>
                    </tr>
                </tbody>
            </table>
        </div>

    <div class="col-lg-12">
        <p class="sectionheaders">Hymns Curriculum</p>
        <p>Each class has a Hymns Curriculum to follow and teach before the lesson. The curriculum has a defined list of hymns and a timeline for teaching the hymns throughout the year. A full list of the hymns curriculum per class can be found on the <a href="http://www.google.com/url?q=http%3A%2F%2Fsites.google.com%2Fsite%2Fstpaulsundayschoolservice%2Fdocuments&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNGtIBlxAarAvVqPe0iovHXNDNBBVQ" target="_blank"><strong>Servants Portal</strong></a>. The curriculum include: </p>
        <ul>
            <li>Coptic Alphabet and Coptic Language</li>
            <li>Responses of the Divine Liturgy</li>
            <li>Verses of the Cymbal</li>
            <li>Doxologies for the Saints</li>
            <li>Hymns and Responses of the Nativity Feast and Fast</li>
            <li>Hymns and Responses of the Great Lent for Weekdays and Saturday &amp; Sunday</li>
            <li>Hymns and Responses of the Resurrection Feast</li>
            <li>Hymns and Responses of the Nayrouz Feast</li>
            <li>Hymns of the Holy Week</li>
            <li>Hymns and Responses of the Apostles Fast</li>
            <li>Veneration Hymns</li>
            <li>Midnight Praises</li>
        </ul>
    </div>
</div>
<div>

</div>