
@{
    ViewBag.Title = "TestDisplay";
}

<div class="pagesetup">
    <h1 class="pageheaders"></h1>

    @*@Model.eventName
        <br />
        @Model.eventID
        <br />
        @Model.eventCount*@

    @foreach (var item in Model)
    {
        @item.FirstName
        @item.LastName
  
    }

    </div>

