
@{
    ViewBag.Title = "Index";
}


<div class="pagesetup">
    <h1 class="pageheaders">Fasts & Feasts Schedual</h1>

    <h2 class="sectionheaders">Coptic Fasts & Feasts 2020 A.D. / 1735–1736 A.M</h2>
    <table class="Tableclass">
        <tbody>
            <tr>
                <td class="tableheader">
                    <b>Fast or Feast</b>
                </td>
                <td class="tableheader">
                    <b>Date</b>
                </td>
            </tr>
            <tr>
                <td >The Holy Nativity Feast</td>
                <td > January 7-8</td>
            </tr>
            <tr>
                <td> The Circumcision Feast</td>
                <td > January 15</td>
            </tr>
            <tr>
                <td > The Holy Epiphany</td>
                <td > January 20</td>
            </tr>
            <tr>
                <td > Feast of the Wedding of Cana of Galilee</td>
                <td > January 22</td>
            </tr>
            <tr>
                <td> Jonah's (Nineveh) Fast</td>
                <td > February 10–12</td>
            </tr>
            <tr>
                <td > Jonah's (Nineveh) Feast</td>
                <td > February 13</td>
            </tr>
            <tr>
                <td> Presentation of the Lord into the Temple</td>
                <td> February 16</td>
            </tr>
            <tr>
                <td> Holy Great Fast</td>
                <td> February 24 – April 10</td>
            </tr>
            <tr>
                <td> The Feast of the Cross</td>
                <td> March 19</td>
            </tr>
            <tr>
                <td> Annunciation Feast</td>
                <td> April 7</td>
            </tr>
            <tr>
                <td> Lazarus Saturday</td>
                <td> April 11</td>
            </tr>
            <tr>
                <td> Entry of our Lord into Jerusalem (Hosanna Sunday)</td>
                <td> April 12</td>
            </tr>
            <tr>
                <td> Holy Pascha</td>
                <td> April 13-15</td>
            </tr>
            <tr>
                <td> Covenant Thursday</td>
                <td> April 16</td>
            </tr>
            <tr>
                <td> Good Friday</td>
                <td> April 17</td>
            </tr>
            <tr>
                <td> Glorious Feast of the Resurrection</td>
                <td style="width:190px;height:18px"> April 19</td>
            </tr>
            <tr>
                <td> Thomas' Sunday</td>
                <td> April 26</td>
            </tr>
            <tr>
                <td> Martyrdom of St. Mark the Evangelist</td>
                <td> May 8</td>
            </tr>
            <tr>
                <td> The Holy Feast of Ascension</td>
                <td> May 28</td>
            </tr>
            <tr>
                <td > Entry of the Lord into Egypt</td>
                <td> June 1</td>
            </tr>
            <tr>
                <td> The Holy Pentecost Feast</td>
                <td> June 7</td>
            </tr>
            <tr>
                <td> The Apostles' Fast</td>
                <td> June 8 – July 11</td>
            </tr>
            <tr>
                <td> The Apostles' Feast (Martyrdom of St. Peter &amp; St. Paul)</td>
                <td> July 12</td>
            </tr>
            <tr>
                <td> St. Mary's Fast</td>
                <td> August 7–21</td>
            </tr>
            <tr>
                <td> Transfiguration Feast</td>
                <td> August 19</td>
            </tr>
            <tr>
                <td> Assumption of St. Mary's Body</td>
                <td style="width:191px;height:18px"> August 22</td>
            </tr>
            <tr>
                <td> The Nayrouz Feast (Coptic New Year)</td>
                <td> September 11</td>
            </tr>
            <tr>
                <td> The Feast of the Cross (Three days)</td>
                <td> September 27–29</td>
            </tr>
            <tr>
                <td> The Holy Nativity Fast</td>
                <td> November 25 – January 6</td>
            </tr>
        </tbody>
    </table>
</div>