body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
 
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.iconimage {
    align-content: flex-end;
    width: 7%;
    max-height: 62px;
    float: left;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}
.subscribe-image{
    display:none !important;
}
.Calendar {
    width: 100%;
    height: 900px;
}
.Calendar2 {
    width: 100%;
    height: 500px;
}
.pagesetup {
    margin-top:50px;
}
footer {
    border-top: 1px solid #ff0000;
    width:100%;
    display: table;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.title {
    margin:0;
    color:white;
    font-size:2em;
}
.paypal {
    margin-top: 10px;
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.streaming {
    margin-top: 10px;
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.facebook {
    margin-top: 10px;
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.jumbotron {
    padding-bottom: 70px;
}
.tempvideo {
    width:100%;
    height:500px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
    .jumbotron {
        padding-bottom: 20px;
    }
    .paypal {
        margin-top: 20px;
    }

    .streaming {
        margin-top: 20px;

    }
    .facebook {
        margin-top: 20px;

    }
}
.sectionheaders {
    padding-top:5px;
    padding-bottom:5px;
    font-weight:bold;
    text-decoration:underline;
}
.pheaders {
    font-weight: bold;
}
.pageheaders {
    font-weight: bold;
    border-bottom: 10px solid #ff0000;
    width:100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
}
/*
    Override For thirdparty
*/

.logo-plus-button-plus-icon {
    background-image: none !important;
    background-color: transparent !important;
}
.logo-plus-button-lockup {
    background-image: none !important;
    background-color: transparent !important;
}
.dropdown-menu {
    background-color: #222 !important;
    color: white !important;
}
    .dropdown-menu a {
        color: #9d9d9d !important;
    }
.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }