
@{
    ViewBag.Title = "Index";
}

<!--Page Header Start-->
<section class="page-header">
    <div class="page-header__bg" style="background-color:aquamarine;"></div>
    <!-- /.page-header__bg -->
    <div class="container">
        <h2>Gallery</h2>
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="color-thm-gray">/</li>
            <li><span>Dynamic</span></li>
        </ul>
    </div>
</section>
<!--Page Header End-->
<!--Events Details Start-->
<section class="event-details">
    <div class="container">

        <!--News Page Start-->
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @{
                    int index = 0;
                }
                @foreach (var item in Model)
                {

                    if (index == 0)
                    {
                        var getimage = Convert.ToBase64String(item.ImageData);
                        var picture = string.Format("data:image/jpeg;base64,{0}", getimage);
                        <div class="carousel-item active">
                            <img src="@Url.Content(picture)" class="d-block w-100">
                        </div>
                        index++;
                    }
                    else
                    {
                        var getimage = Convert.ToBase64String(item.ImageData);
                        var picture = string.Format("data:image/jpeg;base64,{0}", getimage);
                        <div class="carousel-item">
                            <img src="@Url.Content(picture)"  class="d-block w-100">
                        </div>
                    }

                }
            </div>
            <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon arrowbackground" aria-hidden="true"></span>
                <span class="visually-hidden arrowbackground">Previous</span>
            </button>
            <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon arrowbackground" aria-hidden="true"></span>
                <span class="visually-hidden arrowbackground">Next</span>
            </button>
        </div>

    </div>
</section>
<script>
    var slidePosition = 1;
    SlideShow(slidePosition);

    // forward/Back controls
    function plusSlides(n) {
        SlideShow(slidePosition += n);
    }

    //  images controls
    function currentSlide(n) {
        SlideShow(slidePosition = n);
    }

    function SlideShow(n) {
        var i;
        var slides = document.getElementsByClassName("Containers");
        var circles = document.getElementsByClassName("dots");
        if (n > slides.length) { slidePosition = 1 }
        if (n < 1) { slidePosition = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < circles.length; i++) {
            circles[i].className = circles[i].className.replace(" enable", "");
        }
    } 
</script>