
@{
    ViewBag.Title = "Index";
}

<div class="pagesetup">
    <h1 class="pageheaders">Our Priest</h1>

    <div class="col-lg-12">
        <img class="ourpriest" src="~/Content/Images/priest.jpg" />
    </div>
    <div class="col-lg-12 priesttext">
        <p>
            <strong>Fr. Steven Marzouk</strong> was ordained by H.G. Bishop Youssef on October 7, 2012, and he has been serving St. Paul's church since then. Fr. Steven grew up in Egypt, attending St. Anthony Coptic Orthodox Church in the district of Shoubra in Cairo. Fr. Steven earned a Bachelor of Science degree in Electrical Engineering from Zagazig University. He is married to Mariam and is a father of 4 lovely kids Kyria, Karas, Carol and Karen.
        </p>
        <p>
            Fr. Steven also, serves St. Anthony The Great Coptic Orthodox Church, Peachtree City, GA!
        </p>
    </div>

    <div class="col-lg-12">
        <p class="sectionheaders">
            Fr. Steven Contact:
        </p>
        <p class="glyphicon glyphicon-envelope">
            Email:     <a href="mailto:fr.stevensaintpaul@gmail.com">fr.stevensaintpaul@gmail.com</a>
        </p>
        <br />
        <p class="glyphicon glyphicon-phone">
            Phone:   (404) 667 - 2578
        </p>
    </div>
</div>