
@{
    ViewBag.Title = "Index";
}

<!--Page Header Start-->
<section class="page-header">
    <div class="page-header__bg" style="background-color:aquamarine;"></div>
    <!-- /.page-header__bg -->
    <div class="container">
        <h2>Live Streaming</h2>
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="color-thm-gray">/</li>
            <li><span>Live Streaming</span></li>
        </ul>
    </div>
</section>
<!--Page Header End-->


<div class="col-lg-12 videoWrapper">
    @*<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/live_stream?channel=UCJ4JXq5FoWke8LZ6BnRsbrQ" frameborder="0" allowfullscreen></iframe>*@
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/live_stream?channel=UCAlsQJBDF-ZmSf6rZLLSHzw" frameborder="0" allowfullscreen></iframe>
</div>


