
@{
    ViewBag.Title = "Index";
}


<div class="pagesetup">
    <h1 class="pageheaders">Live Streaming</h1>
    <div class="col-lg-12 embed-responsive embed-responsive-16by9">
        @*<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/live_stream?channel=UCJ4JXq5FoWke8LZ6BnRsbrQ" frameborder="0" allowfullscreen></iframe>*@
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/live_stream?channel=UCAlsQJBDF-ZmSf6rZLLSHzw" frameborder="0" allowfullscreen></iframe>
    </div>

</div>


