
@{
    ViewBag.Title = "Create";
}

<section class="navpages pagebackground">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">

                @using (Html.BeginForm("Create",
                        "News",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
                {
                    <div class="conact-form-item">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="input-box mt-20">
                                    <input type="text" placeholder="News Title" name="Newstitle">
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="input-box mt-20">

                                    <input type="checkbox" placeholder="Is Spotlight News?" name="IsSpotlight" value="true">
                                    <label>Is Spotlight News?</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="input-box mt-20">
                                    <input type="text" placeholder="Link" name="Link">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="input-box mt-20">
                                    <input type="file" id="file" name="file" multiple="multiple">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-box mt-20">
                                    <textarea id="#" cols="30" rows="10" placeholder="News Body English" name="Newsbodyenglish"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-box mt-20">
                                    <textarea id="#" cols="30" rows="10" placeholder="News Body Arabic" name="Newsbodyarabic"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-box mt-10 text-center">
                                    <button class="main-btn" type="submit" value="Upload Image">Add News</button>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="input-box mt-10 text-center">
                                    <a class="main-btn" href="@Url.Action("Admin", "News")">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }                @*<form id="contact-form" action="@Url.Action("Create", "News")" controller="News" method="post" enctype="multipart/form-data"></form>*@

            </div>
        </div>
        <br />
        @*@Html.ActionLink("Create News Article", "Create", "News", new { area = "" }, null)
            <a data-animation="zoomIn" data-delay="0.8s" class="main-btn" href="@Url.Action("Index", "Calendar")">Calendar</a>*@
    </div>
</section>
