
@{
    ViewBag.Title = "Index";

}


<div class="pagesetup">
    <h1 class="pageheaders">Deacons Schedule</h1>
    <div class="col-lg-12">
        <p >
            Altar Deacons shoud be present by <strong class="scheduled">8:30 AM on Sunday</strong>.There will be NO crossing of tonyas after 8:55 AM.
        </p>
    </div>
    <div class="col-lg-12">
        <table>
            <tr>
                <th>Service</th>
                <th>Date</th>
                <th>Deacons</th>
            </tr>
            @if (Model.Count != 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>Divine Liturgy</td>
                        <td>@item.date </td>
                        <td>
                            @for (int i = 0; i < item.deacons.Length; i++)
                            {
                                @( (i + 1).ToString() + "." + item.deacons[i])
                                <br />
                            }
                        </td>
                    </tr>

                }

            }
            else
            {
                <td class="deacons"colspan="3"> NO DEACONS SCHEDULED</td>
            }


        </table>
    </div>
</div>
<style>
    table {
        font-family: arial, sans-serif;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 5px;
    }

    h2, h3 {
        text-align: center;
    }

    .coltitle {
        text-align: center;
    }

    h2 {
        margin-bottom: 5px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>