
@{
    ViewBag.Title = "Index";
}

<div class="pagesetup">
    <h1 class="pageheaders">Contact Us</h1>

    <div class="col-lg-12">
        <p class="contactus">
            Whether you're moving to our side of Atlanta, visiting the area, or curious to learn more about the Coptic Orthodox Church, we'd love to see you at our church.
        </p>
    </div>
    <br />

    <div class="col-lg-6 contacuslist">
        <p class="fas fa-church">
            Physical Address:
        <p>655 Satellite Blvd NW, Suwanee, GA 30024</p>
        </p>
        <p class="fas fa-envelope-open-text">
            Mailing Address:
        <p>P.O. Box 3424 Suwanee, GA 30024</p>
        </p>
        <p class="fas fa-user-shield">
            @*Dr. Ralph Malek*@
        <p>(706) 524 - 4741</p>
        </p>
    </div>
    <div class="col-lg-6 embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13226.852117702647!2d-84.0664127!3d34.0255764!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1b98a2e241645ff0!2sSt%20Paul%20Orthodox%20Church!5e0!3m2!1sen!2sus!4v1586895812170!5m2!1sen!2sus" width="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>


