
@{
    ViewBag.Title = "Index";
}

<!--Page Header Start-->
<section class="page-header">
    <div class="page-header__bg" style="background-color:aquamarine;"></div>
    <!-- /.page-header__bg -->
    <div class="container">
        <h2>The Orthodox Faith</h2>
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="color-thm-gray">/</li>
            <li><span>Our Faith</span></li>
        </ul>
    </div>
</section>
<!--Page Header End-->
<!--Events Details Start-->
<section class="event-details">
    <div class="container">


        <!--News Details Start-->
        <section class="news-details">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-7">
                        <div class="news-details__left">
                            <div class="news-details__img">
                                <img class="ourfaith" src="~/Content/Images/ourfaith.jpg" />
                            </div>
                            <div class="news-details__content">

                                <p class="news-details__text-one">
                                    Ever wondered about the history of the Coptic Church? We would like to take this opportunity to serve as a resource to help you gain a better understanding of where the Coptic Orthodox Church started, our rich history, and beliefs.

                                </p>
                                <p class="news-details__text-two">
                                    God's promise to His people is always fulfilled. He foretold that He would ride on a light and upon a swift cloud and come to Egypt (Isa 19:1); and in that day there will be an altar to the Lord in the midst of the land of Egypt, and a pillar to the Lord at its border (Isa 19:19). This promise was fulfilled by the flight of the Holy Family from the face of the tyrant Herod to find refuge among the Gentiles. Thus our Lord Jesus Christ came during His childhood to Egypt to lay by Himself the foundation of His Church in Egypt which has become one of the four primary "sees" in the world, among the churches of Jerusalem, Antioch and Rome, and joined later by the "See" of Constantinople.
                                </p>
                                <p class="news-details__text-two">
                                    The star of the Egyptian Church shone through the School of Alexandria which taught Christendom the allegoric and spiritual methods in interpreting the Holy Scripture and was the leader in defending the Orthodox faith on an ecumenical level.
                                </p>
                                <p class="news-details__text-two">
                                    The Christian monastic movement in all its forms started in Egypt, attracting the heart of the Church towards the desert, to practice the angelic inner life. This happened at the time when the doors of the royal court had been opened to the clergy, and this consequently endangered the church, as the quiet and spiritual church work was mixed with the temporal authority and politics of the royal court.
                                </p>
                                <p class="news-details__text-two">
                                    The Egyptian Church carried our Lord Jesus Christ's cross throughout generations, bearing sufferings even from the side of Christians themselves. She continued to offer a countless number of martyrs and confessors throughout ages. Sometimes the towns people were martyred and many struggled to win the crowns of martyrdom happily and with a joyful heart.
                                </p>
                                <p class="news-details__text-two">
                                    Our Church is both ancient and new. Ancient in that it is apostolic, founded by St. Mark the Evangelist traditionally practicing the apostolic faith without deviation. The church is new through the living Messiah whose Spirit renews her youth (Ps. 103:5).
                                </p>
                                <p class="news-details__text-two">
                                    The Coptic Church is rich with evangelistic and ascetic life, genuine patriotic inheritance, heavenly worship, spiritual rituals, effective and living hymns, beautiful icons, etc. The church attracts the heart towards heaven without ignoring actual daily life. We can say that it is an apostolic, contemporary church that carries life and thought to the contemporary man without deviation.

                                </p>
                                <p class="news-details__text-two">
                                    The Church is well known for its numerous saints: ascetics, clergymen and laymen. The church offered many saints throughout ages and is still offering the same today. Leading a sanctified life in communion with God comes first.
                                </p>
                                <p class="news-details__text-three">
                                    Read more about the Coptic Orthodox Church on our Diocese's web site.
                                </p>


                            </div>


                 
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!--News Details End-->

    </div>
</section>
<!--Events Details End-->



