
@{
    ViewBag.Title = "Board Members";
}


<!--Page Header Start-->
<section class="page-header">
    <div class="page-header__bg" style="background-color:aquamarine;"></div>
    <!-- /.page-header__bg -->
    <div class="container">
        <h2>Our Current Board</h2>
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="color-thm-gray">/</li>
            <li><span>Church Board</span></li>
        </ul>
    </div>
</section>
<!--Page Header End-->
<!--Events Details Start-->
<section class="event-details">
    <div class="container">

        <br />
        <br />
        <div>

            <div class="row">
                <div class="col-md-3">
                    <a class="fas fa-church">
                        Board Director:
                        <p>H.G Bishop Youssef</p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a class="fas fa-cross">
                        Vice President:
                        <p>Fr. Steven Marzouk</p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a class="fas fa-usd">
                        Treasurers:
                        <p> TBD</p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a class="fas fa-briefcase">
                        Secretary:
                        <p>Adel El Mankabady </p>
                    </a>
                </div>
            </div>


            <br />
            <br />
            <br />
            <p>
                <h5 class="glyphicon glyphicon-user"> Members:</h5>
                <ul>
                    <li>Emad Kelliny</li>
                    <li>Akram Abdlmesih</li>
                    <li>Michael Nessim</li>
                    <li>Albier Bebawy</li>
                </ul>
            </p>
            <br />
            <br />
            <h2>Board Members Qualifications & Responsibilities</h2>

            <h3 class="sectionheaderswithred">Secretary:</h3>
            <ul class="boardlist">
                <li>Attend all Board meetings</li>
                <li>Maintain all Board records and meeting minutes, and ensure their accuracy, confidentiality and safety</li>
                <li>Review Board minutes at the beginning of each meeting and provide a status or closure on items </li>
                <li>Provide notice of meetings of the board and keep a recurring schedule</li>
            </ul>

            <h3 class="sectionheaderswithred">Treasurer:</h3>
            <ul class="boardlist">
                <li>Understand financial accounting for nonprofit organizationss</li>
                <li>Serve as financial officer of the Church </li>
                <li>Manage the Board's review of and action related to the Board's financial responsibilities</li>
                <li>Ensure that appropriate financial reports are made available to the Board and to the Diocese on a timely basis</li>
                <li>Works with the other Board members to ensure cost control in church expenses and maintenance activities</li>
            </ul>

            <h3 class="sectionheaderswithred">Operations and Maintenance:</h3>
            <ul class="boardlist">
                <li>Responsible for building, equipment, janitorial, grounds, and security</li>
                <li>Have knowledge and understanding of HVAC, electrical, and communications equipment</li>
                <li>Manage and supervise outside contractors/vendors and grounds maintenance vendors</li>
                <li>Identify and rectify problems as they occur as well as personally repair or arrange for repair</li>
                <li>Must be available for immediate problem resolution at any time</li>
            </ul>

            <h3 class="sectionheaderswithred">Legal:</h3>
            <ul class="boardlist">
                <li>Draft, revise, and review all contracts to which the Church is a party</li>
                <li>Official spokesperson for the Board </li>
                <li>Represent the Church in dealings with city, county, and community </li>
                <li>Seek out and retail counsel when needed; work along side counsel</li>
            </ul>

            <h3 class="sectionheaderswithred">Church Communications:</h3>
            <ul class="boardlist">
                <li>Design and produce Church  newsletter and communications (paper or electronic) in English and Arabic </li>
                <li>Engage volunteers to assist with all aspects of Church communications,including writing for publications, taking photos at events, participating in video development</li>
                <li>Maintain congregation bulletin boards and postings in the building </li>
                <li>Manage collection of congregation contact information in a central database and maintain mailing/emailing lists</li>
            </ul>
        </div>

    </div>
</section>
<!--Events Details End-->

